.popup__form-item {
    border: 0;
    padding: 0;
    width: 100%;
    min-height: 27px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}
