.entrance__link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    transition: 0.2s;
    text-decoration: none;
    color: #FFFFFF;
}

.entrance__link:hover {
    opacity: 0.6;
}