.popup__form-error {
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #ff0000;
	position: static;
	min-height: 30px;
    display: block; 
}

.popup__form-error:last-of-type {
	display: block;
}

